// Custom fonts
$header-font: 'Bradley Hand';

// Custom fonts size
$slider-mid-size: 25px;
$slider-max-size: 35px;
$slider-small-size: 20px;

// Slider color palette.
$slide-text-primary-color:white;
$slider-arrow-color: rgba(255, 255, 255, 0.5);
$tag-color: #6e00fe74;


// Button default style
$button-padding: 5px 15px;
$button-border:1px solid #fff;
